@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  }


* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  }
  
.container-pd-0 {
  background-color: #3a6988;
}

.container-contact {
  background-color: #e8eff4;;
}
.spoiler-header{
  display: none;
}
.divider{
  height: 1px;
  background-color: #c0c4c6;
  margin-bottom: 10px;
}
.widget {
  width: 90px;
  height: 90px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-img{
  width: 80px;
  height: 80px;
}

/*header*/
h1.header-title{
  font-size: 32px;
  line-height: 32px;
  color: #666666;
}
.description{
  font-size: 16px;
  line-height: 16px;
  color: #4c4c4c;
}

.header address{
  text-align: right;
}
.header-address, .header-contact{
  font-size: 12px;
  line-height: 12px;
  color: #666666;
}
.header-contact{
  line-height: 14px;
}


/*navbar*/
.navbar ul li a {
  text-decoration: none;
}
.navbar ul li.active a {
  text-decoration: none;
  background-color: #f5f5f5;
  color: #3a6988;
}
.navbar ul li a{
  display: block;
  padding: 0px 20px 0px 20px; /*{padding-right:.5rem;padding-left:.5rem}*/
  font-size: 16px;
  line-height: 45px; /*регулируется высота кнопки меню*/
  font-weight: 400;
  color: #ffffff;  /*Окрашивает также ссылки дробдауна*/
}
.navbar ul li a:focus,.navbar ul li a:hover {color:#3a6988;text-decoration:none;background-color:#f5f5f5}
input.form-control{
  width: 220px !important;
}
input.form-control, button.btn{
  height: 24px;
  border-radius: 0;
  font-size: 12px;
  line-height: 12px;
  color: #666666;
}
button.btn{
  width: 73px;
  background-color: #ffffff;
  border-color: #ffffff;
  text-transform: uppercase;
}
.dropdown-menu{
  background-color: #3a6988;
  border-color: #ffffff;
}
.dropdown-item:focus,.dropdown-item:hover {color:#3a6988;text-decoration:none;background-color:#f5f5f5}
.navbar-light .navbar-toggler {
  border-color: #ffffff;
  outline-color: #ffffff;
}

/*Content*/
.content .content-title{
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}
.content .cart{
  max-width: 300px;
}
.content .cart-description{
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  margin-bottom: 37px;
}
.content .cart-link {
  width: 160px;
  height: 26px;
  background-color: #3a6988;
  display: flex;
  align-items: center;
}
.content .cart-link a{
  font-size: 13px;
  color: #ffffff;
}
aside .cart-link{
  margin-top: 4px;
}
aside .widget-wrapper{
  max-width: 360px;
  margin: 0 auto;
}
aside .widget-news h2.content-title, aside .widget-news .cart-description{
  font-size: 12px;
  line-height: 12px;
  color: #050521;
}
aside .widget-news .cart-description{
  line-height: 14px;
  color: #666666;
}
aside .widget-news h2.content-title{
  height: 15px;
  margin-top: 3px;
}
aside .widget-item{
  max-width: 230px;
}
/*Contact*/
.contact .contact-item{
  max-width: 310px;
  margin: 0 auto;
}
.contact .contact-action, .contact .contact-description, .contact-unsubscribe{
  font-size: 12px;
  line-height: 17px;
  color: #3a6988;
}
.contact .contact-action, .contact-unsubscribe{
  line-height: 12px;
  color: #98989a;
}
.contact .contact-form, .footer .copyright{
  margin: 0px 0px 0px 10px;  /*margin-left 10px*/
}
.contact .contact-item h4{
  font-size: 20px;
  line-height: 20px;
  color: #3a3b3f;
}
.contact .contact-block{
  margin: 10px 0px 16px 0px;;
}
.contact-block .form-input{
  width: 242px !important; /*244px*/
  height: 23px;
  outline-color: #ffffff;
  
}
.contact-block .btn-input{
  width: 33px;/*35px*/
  height: 23px;
  border: 1px solid;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  padding: 0px 0px 0px 0px;
}

/*Foter*/
.footer .copyright, .footer .template{
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}
.footer .template{
  text-align: right;
  margin: 0px 10px 0px 0px;
}

@media(max-width: 991px){
  /*contact*/
  .contact .contact-form, .footer .copyright{
    margin: 0px;
  }
}

@media(max-width: 767px){
  .contact-block .form-input{
    width: 242px; /*244px*/
  }
  /*footer*/
  .footer .copyright, .footer .template{
    text-align: center;
    margin: 0px 0px 0px 0px;
  }
}

@media(max-width: 575px){
  /*header, spoiler*/
  .header address{
    text-align: left;
  }
  .header{
    padding: 0px 0px 0px 0px;
  }
  .main-header{
    display: none;
  }
  .spoiler-header{
    display: block;
  }
  .header-contact{
    margin: 0;
    line-height: 19px;
  }
  h1.header-title{
    position: relative;
    padding: 0px 0px 0px 30px;
    cursor: pointer;
  }
  h1.header-title::before, h1.header-title::after{
    content: '';
    width: 10px;
    height: 1px;
    background-color: #000000;
    position:absolute;
    top: 8px;
    transition: all 0.3s ease 0s;
  }
  h1.header-title::before{
    transform: rotate(40deg);
    left: 0;
  }
  h1.header-title::after{
    transform: rotate(-40deg);
    left: 8px;
  }
  h1.header-title.active::before, h1.header-title.active::after{
    background-color: red;
  }
  h1.header-title.active::before{
    transform: rotate(-40deg);
  }
  h1.header-title.active::after{
    transform: rotate(40deg);
  }
  .header-text{
    display: none;
  }
  /*Content*/
}

